/* IMPORTS HERE */ 

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: Noodle ;
  src: url(./fonts/big_noodle_titling.ttf);
}
@font-face {
  font-family: Bignoodle;
  src: url(./fonts/big_noodle_titling_oblique.ttf);
}
/* Cursor and all index effect */ 
*{
  cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
}
/* the logo */ 
.logo {
  position: fixed ;
  width: 5%;
  height: auto;
  top: 20px ; 
  left: 20px;
  z-index: -1;
  overflow: visible;
}
/* the nav button */

.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    
  }
  .wrapper{
    position: fixed ;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.6s ease-in-out;
    
  }
  #active:checked ~ .wrapper{
    right:0;
    
  }
  .menu-btn{
    position: fixed;
    z-index: 17;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #000;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
      z-index: 16;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: 5;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #f3c026;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
     transition-delay: .6s;
    transform: translateX(-100px);
  }
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* section 1 + */ 
  .whole {
    position: relative;
  }
  .section1 {
     width: 100vw;
     height: 100vh;
     
     position: relative;
     font-family: Bignoodle , sans-serif; 
     margin: 0;
  }
  .Hi{
    color: #f3c026;
    text-shadow: 0px 0px 5px #bb7e29;
    position: absolute;
    top: 180px;
    left: 150px;
    font-size: 1000%;

    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ;      
  }
  .name{
    color:  rgba(29,37,58,.9); 
    position: absolute;
    top: 290px ; 
    left: 300px;
    font-size: 450% ;  
    
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              
  }
 .current {
    color: #fff;
    text-shadow: 0px 0px 5px black;
    position: absolute;
    top:  440px ;
    left: 240px ; 
    font-size: 200%; 
    font-family: noodle;
    
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
    
 }
 .profile {
      position : absolute; 
      width : 350px; 
      height: 350px;
      top : 250px ; 
      right: 200px ; 
      transition: content 6s ease-out;
      border-radius: 50%;
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
    
 }
 .profile:hover {
  content: url("./Pics/IMG_9794 hover.png");

 } 
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/* section 2 */ 
.section2 {
   top: 30px ; 
   height: 90vh;
   position: relative;
 
   background-image: url("./Pics/2600_Silver_Background.jpg");
   border-radius: 25px;
   
   }

.about{
   position: absolute;
   color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
   position: absolute;
   font-family: Bignoodle ;
   top: 50px;
   left: 120px;
   font-size: 500%;
   
 
}
.aboutvis{
  position: absolute;
  color: #f3c026;
  text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  font-family: Bignoodle ;
  top: 50px;
  left: 120px;
  font-size: 500%;
  
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ;  
}
.p1{
  position: absolute;
    top: 190px ; 
    left: 90px;
    font-size: 270% ;  
    
  font-family: noodle;
  width: 50%;
  color: rgba(29,37,58,.9);

}
.p1vis{
  position: absolute;
  top: 190px ; 
  left: 90px;
  font-size: 270% ;  
  
font-family: noodle;
width: 50%;
color: rgba(29,37,58,.9);
-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ; 
}
.h2-1{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 200px ; 
  left: 1100px;
  font-size: 200% ;  
  
font-family: noodle;
width: fit-content;}

.h2-1vis{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 200px ; 
  left: 1100px;
  font-size: 200% ;  
  
font-family: noodle;
width: fit-content;
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
	        animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;

}
.p2{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 290px ; 
  left: 1100px;
  font-size: 150% ;  
  
  width: fit-content;
font-family: noodle;
border-radius: 0;
margin: 0;

}
.p2vis{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 290px ; 
  left: 1100px;
  font-size: 150% ;  
  
  width: fit-content;
font-family: noodle;
border-radius: 0;
margin: 0;

-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
}

.h2-2{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 400px ; 
  left: 1100px;
  font-size: 200% ;  
  
  width: fit-content;
font-family: noodle;

}

.h2-2vis{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 400px ; 
  left: 1100px;
  font-size: 200% ;  
  
  width: fit-content;
font-family: noodle;
-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
}
.p3{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 490px ; 
  left: 1100px;
  font-size: 150% ;  
  
  width: fit-content;
  


}
.p3vis{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 490px ; 
  left: 1100px;
  font-size: 150% ;  
  
  width: fit-content;
  
font-family: noodle;
-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;

}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/* section 3 */
.section3 {
  top : 90px ; 
  height: 100vh;
  position: relative;
}
.section3in{
  position: relative;
  height: 90vh;
  padding-bottom: 50px ;
  border-radius: 25px;
  background-image: url("./Pics/1600_Sky.jpg");
}
.contact{
 position: absolute;
 color: #f3c026;
  text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 300px;
  left: 150px;
  font-size: 500%;
  font-family: Bignoodle ;
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both ;   
}
.facebook{
  position: absolute; 
  top: 300px;
  left: 400px ;
  background-image: url("./Pics/Facebook_Logo.png");
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* Keyframes */ 

 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
