/* IMPORTS HERE */ 

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@font-face {
  font-family: Noodle ;
  src: url(./fonts/big_noodle_titling.ttf);
}
@font-face {
  font-family: Bignoodle;
  src: url(./fonts/big_noodle_titling_oblique.ttf);
}


/* Laptops XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
@media only screen and (min-width: 992px ) {
  /* Cursor and all index effect */ 
  *{
    cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
    margin: 0;
    padding: 0;
  }
/* the logo */ 
.logo {
  background-color: white;
  border-radius: 3vw;
  position: fixed ;
  width: 5%;
  height: auto;
  top: 2vh; 
  left: 2vw;
  overflow: visible;
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both ;  
  z-index: 2;
}
/* the nav bar */
.nav {
  background-color: white;
  position: fixed;
  color:  rgba(29,37,58,.9);
  font-family: Bignoodle , sans-serif; 
  font-size: 300%;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  right: 5vw;
  top: 3vh;
  z-index: 2;
  border-radius: 1vw;
  padding: 1vw;

  -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both;
  animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both;

}
.nav a:hover {
  color: #f3c026;
    text-shadow: 0px 0px 5px #bb7e29;
  
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* section 1 + */ 
  .whole {
    position: relative;
    z-index: 1;
  }
  .section1 {
     height: 99vh;
     position: relative;
     font-family: Bignoodle , sans-serif; 
     margin: 0;
     overflow-x: hidden;
  }
  .Hi{
    color: #f3c026;
    text-shadow: 0px 0px 5px #bb7e29;
    position: absolute;
    top: 33vh;
    left: 13vw;
    font-size: 1000%;

    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ;      
  }
  .name{
    color:  rgba(29,37,58,.9); 
    position: absolute;
    top: 39vh ; 
    left: 23vw;
    font-size: 450% ;  
    
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              
  }
 .current {
    color: #fff;
    text-shadow: 0px 0px 5px black;
    position: absolute;
    top:  53vh ;
    left: 19vw ; 
    font-size: 200%; 
    font-family: noodle;
    
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.4s both;
    
 }
 .profile {
      position : absolute; 
      width : 350px; 
      height: 350px;
      top : 28vh ; 
      right: 15vw ; 
      border-radius: 50%;
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
              animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
    
 }
 .profile:hover {
  content: url("./Pics/IMG_9794 hover.png");

 } 
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/* section 2 */ 
.section2 {
   top: 7vh ; 
   height: 90vh;
   position: relative;
   background-image: url("./Pics/2600_Silver_Background.jpg");
   border-radius: 25px;
   margin: 2vh; 
   }

.about{
   position: absolute;
   color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
   position: absolute;
   font-family: Bignoodle ; 
   font-size: 500%;
   top: 12vh ; 
   left: 12vw ;
}
.aboutvis{
  position: absolute;
  color: #f3c026;
  text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  font-family: Bignoodle ;
  top: 12vh ; 
  left: 12vw ; 
  font-size: 500%;
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ;  
}
.p1{
  position: absolute;
     top: 24vh ; 
     left: 7vw;
    font-size: 270% ;  
    
  font-family: noodle;
  width: 50%;
  color: rgba(29,37,58,.9);

}
.p1vis{
  position: absolute;
  top: 24vh ; 
  left: 7vw;
  font-size: 270% ;  
  
font-family: noodle;
width: 50%;
color: rgba(29,37,58,.9);
-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both ; 
}
.h2-1{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 25vh ; 
  left: 75vw;
  font-size: 200% ;  
  
font-family: noodle;
width: fit-content;}

.h2-1vis{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 25vh ; 
  left: 75vw;
  font-size: 200% ;  
  
font-family: noodle;
width: fit-content;
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
	        animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;

}
.p2{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 32vh ; 
  left: 75vw;
  font-size: 150% ;  
  
  width: fit-content;
font-family: noodle;
border-radius: 0;
margin: 0;

}
.p2vis{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 32vh ; 
  left: 75vw;
  font-size: 150% ;  
  
  width: fit-content;
font-family: noodle;
border-radius: 0;
margin: 0;

-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
}

.h2-2{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 45vh ; 
  left: 75vw;
  font-size: 200% ;  
  
  width: fit-content;
font-family: noodle;

}

.h2-2vis{
  color: #f3c026;
   text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 45vh ; 
  left: 75vw;
  font-size: 200% ;  
  
  width: fit-content;
font-family: noodle;
-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
}
.p3{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 52vh ; 
  left: 75vw;
  font-size: 150% ;  
  width: fit-content;
}
.p3vis{
  color: #fff;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 52vh ; 
  left: 75vw;
  font-size: 150% ;  
  
  width: fit-content;
  
font-family: noodle;
-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;

}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/* section 3 */
.section3 {
  top : 15vh ; 
  height: 99vh;
  position: relative;
}
.section3in{
  position: relative;
  height: 90vh;
  margin:  2vh ; 
  border-radius: 25px;
  background-image: url("./Pics/1600_Sky.jpg");
}
.contact{
 position: absolute;
 color: #f3c026;
  text-shadow: 0px 0px 5px #bb7e29;
  position: absolute;
  top: 40vh;
  left: 13vw;
  font-size: 500%;
  font-family: Bignoodle ;
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both ;   
}
.facebook{
  position: absolute; 
  top: 39vh;
  left: 37vw ;
  width: 7vw;
  size: 40%;
  cursor: pointer;
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both ;
}
.twitter{
  position: absolute; 
  top: 39vh;
  left: 47vw ;
  width: 7vw;
  size: 40%;
  cursor: pointer;
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s both ;
}

} 
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* Keyframes */ 

 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
